@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body{
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}
#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header{
  background-color: rgba(0, 0, 0, 0.747) ;
  color: white;
  padding: 2em;
  justify-self: flex-start
}
nav{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 2em;
}
a{
  text-decoration: none;
}
a:visited{
  color: white;
}
.about{
  display: flex;
  flex-direction: row;
}
.about img{
  width: 100%
}
.middle{
  text-align: center;
  flex-grow: 1;
  padding: 1em;
}
.gallery{
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}
.gallery img{
  width: 33%;
  object-fit: cover;
}
.footer{
  text-align: center;
  justify-self: flex-end;
  padding: 1em;
  color: white;
  background-color: rgba(0, 0, 0, 0.747) ;
}